header {
    height: calc(100% - 400px);
    width: 100%;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 139, 205);
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
   
  }