.tweet-container {
    margin-top: 3rem;
    border: 4px solid #545149;
    background-color: #f4f1ec;
    padding: 1rem;
  }
  
  .tweet-container:hover {
    box-shadow: 5px 5px rgb(185 190 221);
  }
  .tweet-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  
  }
  .tweet-header span {
    font-weight: 600;
    color: rgb(185 190 221);
  }
  .tweet-userName {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    font-weight: 600;
    padding: 1rem;
  }
  .tweet-footer {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #545149;
    align-items: center;
    padding: 1rem;
  }
  
  .tweet-time {
    font-size: 2rem;
  }
  .tweet-footer-icons {
    padding-left: 0.5rem;
    color: #4056a1;
  }
  .fas:hover {
    color: #e5bd62;
  }